.Footer{
    min-height: 40vh;
    background-color: aliceblue;
    padding-bottom: 100px;
    
}

.Footer-content{
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: space-between;
    max-width: 1100px;
    margin: auto;
    gap: 50px;
    padding-top: 100px;
}


.quick-links h1{
    font-size: 30px;
    font-weight: 600;
    color: red;
}

.quick-links ul li{
    padding-top: 20px;
}

.quick-links ul li a:hover{
    text-decoration: underline;
}

.footer-logo img{
    width: 200px;
    border-radius: 20px;
}



/* Tablets */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
    /* CSS rules for tablets */
    .Footer-content {
            max-width: 1266px;
            margin: auto;
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            gap: 20px;
            align-items: center;
            justify-content: space-between;
            padding-top: 50px;
        }
}

/* Mobile Devices */
@media only screen and (max-width: 767px) {
    /* CSS rules for mobile devices */
  .Footer-content{
    padding: 20px;
  }
  .quick-links{
    padding-top: 20px;
  }
  .quick-links h1 {
      font-size: 25px;
      font-weight: 600;
      color: red;
  }
  .Footer{
    padding: 20px;
  }
}